
#header{height:60px; padding-left: 60px;}
#header > div {width:1200px; margin:0 auto;}
#header > div > * {float:left;}
#header #lnb li{float:left; padding:0 20px;}
#lnb{list-style:none;}
#header #lnb li a{display:block; height:66px; line-height:66px; 
                   font-weight: bold; font-size: 18px; color:#333;}
#header #lnb li a:hover{color:rgb(52, 152, 219);}
#header > div:last-child{padding-top: 30px;}
#header > div:last-child a{padding-right: 40px; padding-left: 10px;}

html{
    font-size: 10px;
}

ul, li{
    list-style: none;
    color:inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

.board_wrap{
    width: 1000px;
    margin: 100px auto;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 3rem;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 1.4rem;
}
.bt_wrap a:first-child{
    margin-left: 0;
}

.bt_wrap a.on{
    background: rgb(52, 152, 219);
    color: rgb(229, 241, 250);
}