

a{text-decoration: none; color: inherit;}
ul, li{list-style: none; padding-left: 0;}

/* header */ 
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
a{
      text-decoration:none;
}
    
#container{
       margin: 0 auto;
       width: 1200px;
}

header{
        width: 100%;
        height:70px;
        background-color: rgb(255, 255, 255);
    }
    
    /*이미지 로고*/
    header>a>img{
        float:left;
        width: 50px;
        height: 50px;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    /*글자 로고*/
    #logo{
        float:left;
        width: 160px;    
        height:70px;
        line-height:70px;
    }
    
    #logo>a>h2{
        font-family: 'Roboto', sans-serif;
        font-weight:700;
        font-size:25px;
        color:#222;
    }
    
    /*네비게이션*/
    nav{
        float:left;
        width:760px;
        height:70px;
    }
    
    ul{
        list-style:none;
    }
    
    #topMenu > li {
        display: inline-block;
        margin: 0 25px;   /*게시판 이름 사이의 간격*/
        height: 70px;
        line-height: 70px;  /*세로 중앙 정렬*/
        color: rgb(0, 0, 0);  /*게시판 이름 글자 색 지정*/
        font-family: "맑은 고딕", 돋움, tahoma;
        font-size: 15px;
        font-weight: bold;  /*글자 굵게*/
        letter-spacing: -1px;
    }
    
    #topMenu > li:hover {
        color:rgb(170, 217, 248);  /* 서브 메뉴 마우스 오버하면 색상 바뀜 */  
    }
    
    /*오른쪽 상단 이미지*/
    #sub>a>img{
        display: inline-block;
        margin: 0 2px;   /*게시판 이름 사이의 간격*/
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

#sub>input{
    display: inline-block;
    width: 120px;
    height: 30px;
    line-height: 70px;  /*세로 중앙 정렬*/
}

html{
    font-size: 10px;
}

ul, li{
    list-style: none;
    color:inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

.board_wrap{
    width: 1000px;
    margin: 100px auto;
}

.board_title{
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 3rem;
}

.bt_wrap{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #bbb;
    border-radius: 2px;
    font-size: 1.4rem;
}
.bt_wrap a:first-child{
    margin-left: 0;
}

.bt_wrap a.on{
    background:rgb(52, 152, 219);
    color: rgb(229, 241, 250);
}

.board_list{
    width:100%;
    border-top: 2px solid #000;
}

.board_list > div{
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top{
    border-bottom: 1px solid #999;
}

.board_list > div:last-child{
    border-bottom: 1px solid #000;
}

.board_list > div > div{
    display: inline-block;
    padding: 15px 0;
    font-size: 1.4rem;
    text-align: center;
}

.board_list > div.top > div{
    font-weight: 600;
}

.board_list .num{
    width: 10%;
}

.board_list .title{
    width: 60%;
    text-align: left;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width: 10%;
}

.board_list .date{
    width: 10%;
}

.board_list .count{
    width: 10%;
}

.board_page{
    margin-top:30px;
    text-align: center;
    font-size: 0;
}

.board_page a{
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    font-size: 1.2rem;
    padding-top: 10px;
}

.board_page a.num{
    font-size: 1.4rem;
    padding-top: 9px;
}

.board_page a.num.on{
    border-color: rgb(52, 152, 219);
    background: rgb(52, 152, 219);
    color: #fff;
}

.board_page a:first-child{
    border-left: 1px solid #ddd;
}

/*****************/
/*   푸터 영역   */
/*****************/
footer{
    width:100%;
    height:100px;
    background-color: rgb(233, 233, 233);
}

.f_menu {
    float: none;
    text-align: center;
    margin-left: 0;
}

.f_menu>ul{
    list-style: none;
}

.f_menu>ul>li{
    float:right;
    margin-top:20px;
    margin-right:40px;
}

.f_txt>p {
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    color: #666;
    line-height: 22px;
    text-align: center;
}